/*  main css file for rock paper scissors */

.gameBody, .playerScoreSection, .computerScoreSection, .choiceSection, .scoreSection
, .roundSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameBody {
    flex-direction: column; 
}



.playerScoreSection, .computerScoreSection {
    flex-direction: column;
    
}

.playerChoice {
    max-width: 64px;
    max-height: 64px;
}

.playerChoice:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.computerChoice {
    transform: scaleX(-1);
}

.roundSection img {
    max-width: 100px;
    max-height: 100px;
}

p {
    margin-left: 30%;
    margin-right: 30%;
    padding: 0px;
}
ul {
    list-style: none;
    padding: 0px 30px;
   
}
li, ul {
    margin-left: 30%;
    margin-right: 30%;
    
}
